body {
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 1024px;
}    
h1{
    font-size: 2em;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    
}

#dices {
    justify-content: space-evenly;
    background-color: black;
}